<% include('../layouts/header.ejs'); %>
    <%- include('../layouts/style.ejs'); %>
        <%- include('../layouts/homestyle.ejs'); %>

            <header id="menu">
                <div class="container">
                    <h1
                        style="color: #303030; text-transform: uppercase; letter-spacing: 5px; font-size: 2rem; font-weight: bolder; margin-bottom: 0px;">
                        Brand<br><span
                            style="color: #14dbe3; font-size: 1rem; letter-spacing: 8px; font-weight: bolder;">Monitor</span>
                    </h1>
                    <div class="navbar">
                        <ul>
                            <li><a href="/edit?id=<%= user._id %>">Editar perfil</a> </li>
                            <li><a href="/dashboard">Cadastros</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <hr>
            </header>
            <main>
                <section id="section-user">
                    <div class="container">
                        <div class="user-info-welcome">
                            <p class="user-name-text">Olá, <span style="color: #14dbe3;">
                                    <%= user.name %>
                                </span></p>
                            <p class="user-final-text">Seja bem-vindo(a)</p>
                        </div>

                    </div>
                </section>
            </main>

            <% include('../layouts/footer.ejs') %>